/* Color variables go here */
:root {
    --mview: 425px;
    --tview: 768px;
    --lview: 1024px;
}

* {
  box-sizing: border-box;
  z-index: 5;
}

@font-face {
  font-family: 'Refrigerator';
  src: url('../assets/font/RefrigeratorDeluxe.otf') format('opentype');
}

html {
  font-size: 14px; /* Explicitly setting the value of rem */

  @media (min-width: var(--tview)) {
    font-size: 16px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-image: url(../assets/bgs/HomeBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Refrigerator', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;;
}


h1 {
  font-family: 'Refrigerator', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}